@CHARSET "ISO-8859-1";

#container
{
	width: 100%;
	min-width: 1000px; 
	margin: auto;
	padding: 10px;
	background-color: AliceBlue;
	
	
}

header
{
	width: 100%;
	height: 150px;
	font-family: "Century Gothic", sans-serif;
	color: LightSeaGreen;
	font-size: h1 30px, h2 12px,;
	border-style: solid;
	background: white;	
}

#body 
{
	background: none;
	margin:0 auto;
	padding: 30px 12px 0;
	width: 936px;
}


#logo
{
	width: 30%;
	height: 150px;
	float: right;
}



#content
{
	float: left;
	width: 75%;
	margin: 30px;
	text-align: left;
	font-size:18px;
}

footer 
{  
  width: 100%;
  height: 80px;
  color: LightSeaGreen;
  clear: both;
  text-align: center;
  border-style: solid;
	background: LightSeaGreen;	
}

#navigation
{
	background:LightSeaGreen;
	 color:white;
	 width: 100%;
	 height: 75px;
}

#navigation li
{
	display: inline-block;
	list-style: none;
	padding: 10px;
	font: bold 20px Tahoma;
	
}

#navigation a:hover
{
	background-color: #303083;
}

#tabs li a
 {
  text-decoration: none;
  padding: 0.25em 1em;
  color: white;
 
}


#sidebar 
{
  margin: 0;
  padding: 0;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}
.sidebar 
{
  width: 100%;
  float:right;
  
}
#sidebar ul 
{
  list-style: none;
  text-indent: 0px;
  text-align: right;
}
#sidebar li
 {
  margin-top: 3px;
}
#sidebar a 
{
  font: 10px Verdana bold;
  padding: 6px;
  color: #646464;
  display: block;
  padding: 10px 40px;
  height: 30px;
  text-decoration: none;
  background: url("images/background.gif") no-repeat right;
}
#sidebar a:hover 
{
  background: url("images/highlight.gif") no-repeat right;
  padding: 10px 40px;
}


#twitter
{
   float: none; 
   margin: 0 auto; 
   text-align: center; 
   display: block; 
   width: auto; 
   height: auto;
	
}

#primary2
{
	font: 15px Arial;
	text-align: left;
	float: left;
	width: 40%;
	border: solid;
	border-color: LightSeaGreen;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	
}

h3
{
	font: 20px Arial bold;
	text-align: center;
}

.form
{
	margin: 0 auto;
    text-align: center;
    width:200px;
    font-size:16px;
    line-height:30px;
    font-weight:bold;
}

.form.input
{
	width:100%;
    margin-bottom:10px;
    line-height:30px;
    padding:2px 5px;
    
    
}

.form.text
{
	padding: 30px;
	margin: 30px;
}

#youtube
{
	float: right;
	margin-top: 80px;
	margin-bottom: 80px;
	padding-right: 20px;	
	clear: right;
	
}

#book
{
	float: right;
	clear: right;
	border: solid 10px;
	border-color: lightSeaGreen;
}

h4
{
	font: 30px Arial bold;
	text-align:center;
}

#adho
{
	text-align: center;
	font: 15px Arial;
}

.gallery
{
	font: bold, 10px Arial;
	color: #303083;
}

div.img
  {
  margin:auto;
  padding: 20px;
  border:3px solid lightSeaGreen;
  height:150;
  width:150;
  text-align:center;
  background-color: white;
  }
div.img img
  {
  display: inline;
  margin:auto;
  border:5px solid #303083;
  }
div.img a:hover img
  {
  border:1px solid #0000ff;
  }
  
div.desc
  {
  text-align:left;
  font: 17px bold Arial;
  width:100%;
  margin:1px;
  }

.resources
{
	float: left;
	width: 70%;
	margin: 30px;
	text-align: left;
	color: #303083;
	padding: 10px; 
}

resources.h1  
	{
	font : 15px bold Arial;
	text-align: left;
	}
	
resources. h2 
{
	font: 10px bold Arial;
	text-align: left;
	
}

resources. p
{
	float: left;
	text-align: left;
	font: 8px;
	padding-top: 20px; 
	padding-bottom:20px;
	
}
	

section
{
	text-align: center; 
}
	

	